
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model VehicleAndDuyuruViewModel
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Hoş Geldin @User.Identity.Name </h4>
        </div>
    </div>
</div>
<br />



<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.toplam</h3>
                <p>Toplam Araçlarımız</p>
            </div>
            <div class="icon">
                <i class="fas fa-car"></i>
            </div>
            <a asp-action="Vehicle" asp-controller="Vehicle" class="small-box-footer">
                Arabalar <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.kategori</h3>
                <p>Toplam Kategorimiz</p>
            </div>
            <div class="icon">
                <i class="fas fa-car-side"></i>
            </div>
            <a asp-action="VehicleKategori" asp-controller="Vehicle" class="small-box-footer">
                Kategorilerimiz <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.kategori</h3>
                <p>Toplam Markalarımız</p>
            </div>
            <div class="icon">
                <i class="fas fa-car-battery"></i>
            </div>
            <a asp-action="VehicleYakıt" asp-controller="Vehicle" class="small-box-footer">
                Yakıt Türlerimiz <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.marka</h3>
                <p>Toplam Araba Marka Sayımız</p>
            </div>
            <div class="icon">
                <i class="fas fa-cart"></i>
            </div>
            <a asp-action="ArabaMarka" asp-controller="Vehicle" class="small-box-footer">
                Araba Marka  <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col-md-8">

       
            <div class="card direct-chat direct-chat-primary" style="position: relative; left: 0px; top: 0px;">
                <div class="card-header ui-sortable-handle" style="cursor: move;">
                    <h3 class="card-title">Admin Duyuruları</h3>
                    
                </div>

                <div class="card-body">

                    <div class="direct-chat-messages">

                        <div class="direct-chat-msg">
                            <div class="direct-chat-infos clearfix">
                                <span class="direct-chat-name float-left">Admin</span>
                              
                            </div>

                            
                        @foreach(var x in Model.Duyuru)
                        {
                            <img class="direct-chat-img" src="~/Photos/ae0c148d-0447-4078-8748-b4527ad9b20c.jpg" alt="message user image">
                            <div class="direct-chat-text" style="margin-top:50px;">
                               @x.DuyurAcıklama
                            </div>
                        }
                        

                        </div>
                    </div>


                 

                </div>

                <div class="card-footer">
                    
                </div>

            </div>
        </div>
        <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Üyelerimiz</h3>
               
            </div>

            <div class="card-body p-0">
                <ul class="users-list clearfix">
                    @foreach(var x in Model.Users)
                    {
                        <li>
                            <img src="~/Photos/@x.PhotoUrl" style="height:70px;width:70px;border-radius:50%" alt="User Image">
                            <a class="users-list-name" href="#">@x.FullName</a>
                            <span class="users-list-date">@*@x.Role*@</span>
                        </li>
                    }
                </ul>

            </div>

            

        </div>


          
        </div>
    </div>








<div class="row">
    <div class="card">
        <div class="card-body p-0">
            <div class="p-3">
                <div class="card-widgets">
                    <a href="javascript:;" data-bs-toggle="reload"><i class="ri-refresh-line"></i></a>
                    <a data-bs-toggle="collapse" href="#yearly-sales-collapse" role="button" aria-expanded="false" aria-controls="yearly-sales-collapse"><i class="ri-subtract-line"></i></a>
                    <a href="#" data-bs-toggle="remove"><i class="ri-close-line"></i></a>
                </div>
                <h5 class="header-title mb-0">Son Eklenen 5 Araçlar</h5>
            </div>

            <div id="yearly-sales-collapse" class="collapse show">

                <div class="table-responsive">
                    <table class="table table-nowrap table-hover mb-0">
                        <thead>
                            
                            <tr>
                                <th>#</th>
                                <th>Resim</th>
                                <th>Araç</th>
                                <th>Arac Motoru</th>
                                <th>Arac Marka</th>
                                <th>Arac Tipi</th>
                                <th>Günlük Kirası</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                           @foreach(var item in Model.Vehicles){
                                <tr>
                                    <td>@i</td>
                                    <td><img src="~/Araba/@item.Resim" style="height:100px;width:110px;border-radius:50%" /> </td>
                                    <td>@item.AracAdı</td>
                                    <td>@item.AracMotorTip</td>
                                    <td>@item.aracMarka.aracmarka</td>
                                    <td>@item.AracKategori.AracKategoriAdi</td>
                                    <td>
                                        <span class="badge bg-info-subtle text-info"> @item.Fiyat ₺</span>
                                        
                                       </td>
                                </tr>
                                i = i + 1;
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="plugins/daterangepicker/daterangepicker.js"></script>

    

