
@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@model List<UserModel>
<h1>Kullanıcılar</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adı Soyadı</th>
            <th>Kullanıcı Adı</th>
            <th>E-Posta</th>
            <th>Rol</th>
            <th>Resmi</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.FullName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        <span>@role</span>
                    }
                </td>
                <td>
                    <img class="img-circle elevation-2" src="~/Photos/@item.Photo" width="100px" height="100px">
                </td>

                
            </tr>
            i++;
        }

    </tbody>
</table>














@section Scripts{
<script src="~/js/RoleJs.js"></script>
}

