@{
    ViewData["Title"] = "Home Page";
}
@model List<VehicleViewModel>
<section id="section-hero" aria-label="section" class="full-height vertical-center" data-bgimage="url(/site_tema/images/background/7.jpg) bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="spacer-double sm-hide"></div>
            <div class="col-lg-6">
                <h4>
                    <span class="id-color">
                        Seyahatinizi şimdi planlayın
                    </span>
                </h4>
                <div class="spacer-10"></div>
                <h1>Konforlu Araçlarla Dünyayı Keşfedin </h1>
                <p class="lead">Unutulmaz maceralara çıkın ve eşsiz konfor ve stilde dünyayı keşfedin, olağanüstü konforlu araç filomuzla.</p>

                <a class="btn-main" href="#">Arabalarımız</a>&nbsp;&nbsp;&nbsp;
            </div>

            <div class="col-lg-6">
                <img src="~/site_tema/images/misc/car-2.png" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</section>

<section id="section-cars" class="no-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h2>Top 5 Aracımız</h2>
                <p>Rüyalarınızı gerçeğe dönüştürmek için unutulmaz yolculuklar için çeşitli araçlardan oluşan seçkin bir filo ile hareket ediyoruz.</p>
                <div class="spacer-20"></div>
            </div>

            <div class="clearfix"></div>

            <div id="items-carousel" class="owl-carousel wow fadeIn">
                @foreach(var x in Model)
                {
                    <div class="col-lg-12">
                        <div class="de-item mb30">
                            <div class="d-img">
                                <img src="~/Araba/@x.ResimData" class="img-fluid" alt="">
                            </div>
                            <div class="d-info">
                                <div class="d-text">
                                    <h4>@x.AracAdı</h4>
                                    <div class="d-item_like">
                                        <i class="fa fa-heart"></i><span>74</span>
                                    </div>
                                    <div class="d-atr-group">
                                        <span class="d-atr"><img src="~/site_tema/images/icons/1.svg" alt="">@x.AracKoltukSayisi</span>
                                        <span class="d-atr"><img src="~/site_tema/images/icons/2.svg" alt="">@x.AracValizSayisi</span>
                                        
                                        <span class="d-atr"><img src="~/site_tema/images/icons/4.svg" alt="">@x.AracKategoriTurü</span>
                                    </div>
                                    <div class="d-price">
                                        Günlük Fiyat <span>@x.Fiyat ₺ </span>
                                        <a class="btn-main" asp-action="ArabaDetay" asp-controller="Home" asp-route-ıd="@x.Id" >Şimdi Kirala</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                

            @*    <div class="col-lg-12">
                    <div class="de-item mb30">
                        <div class="d-img">
                            <img src="images/cars/bmw-m5.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="d-info">
                            <div class="d-text">
                                <h4>BMW M2</h4>
                                <div class="d-item_like">
                                    <i class="fa fa-heart"></i><span>36</span>
                                </div>
                                <div class="d-atr-group">
                                    <span class="d-atr"><img src="images/icons/1.svg" alt="">5</span>
                                    <span class="d-atr"><img src="images/icons/2.svg" alt="">2</span>
                                    <span class="d-atr"><img src="images/icons/3.svg" alt="">4</span>
                                    <span class="d-atr"><img src="images/icons/4.svg" alt="">Sedan</span>
                                </div>
                                <div class="d-price">
                                    Daily rate from <span>$244</span>
                                    <a class="btn-main" href="car-single.html">Rent Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               *@

            </div>

        </div>
    </div>
</section>

<section id="section-fun-facts" class="bg-color text-light">
    <div class="container">
        <div class="row g-custom-x force-text-center">
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp">
                    <h3 class="timer" data-to="15425" data-speed="3000">0</h3>
                    İşlem Sayımız
                    <p class="d-small">Bizimle birlikte gerçekleşen 15,425 işlemde sizlere en iyisini sunmanın gururunu yaşıyoruz. Güvenilirliğimizle tanışın, memnuniyet garantili!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp">
                    <h3 class="timer" data-to="8745" data-speed="3000">0</h3>
                    Mutlu Müşteri
                    <p class="d-small">Her birinize teşekkür ederiz! 8745 mutlu müşteriyle birlikte daha güçlü, daha keyifli. Sizleri memnun etmek gurur kaynağı. İyi ki varsınız!.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp">
                    <h3 class="timer" data-to="235" data-speed="3000">0</h3>
                    Araçlarımız
                    <p class="d-small">Araçlarımız, konfor ve güvenlikle buluşuyor. Her yolculuk unutulmaz olsun. Şimdi keşfet, hayalinizdeki aracı seçin!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-sm-30">
                <div class="de_count wow fadeInUp">
                    <h3 class="timer" data-to="15" data-speed="3000">0</h3>
                    Tecrübemiz
                    <p class="d-small">Biz, 15 yıllık deneyimimizle sizlere en iyi hizmeti sunuyoruz. Güvenle seyahat edin, biz tecrübemizle yanınızdayız!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section aria-label="section" class="pt40 pb40 text-light" data-bgcolor="#181818">
    <div class="wow fadeInRight d-flex">
        <div class="de-marquee-list">
            <div class="d-item">
                <span class="d-item-txt">SUV</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Hatchback</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Crossover</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Convertible</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Sedan</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Sports Car</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Coupe</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Minivan</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Station Wagon</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Pickup Truck</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Minivans</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Exotic Cars</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
            </div>
        </div>

        <div class="de-marquee-list">
            <div class="d-item">
                <span class="d-item-txt">SUV</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Hatchback</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Crossover</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Convertible</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Sedan</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Sports Car</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Coupe</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Minivan</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Station Wagon</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Pickup Truck</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Minivans</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
                <span class="d-item-txt">Exotic Cars</span>
                <span class="d-item-display">
                    <i class="d-item-dot"></i>
                </span>
            </div>
        </div>
    </div>
</section>